<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h1>User info</h1>
			<%= render 'layouts/error_messages', model: @user %>
			<%= form_for(@user) do |f| %>
			    <div class="form-group">
			    	<%= f.label :name %>
			    	<%= f.text_field :name, class:"col-xs-12" %>
			    </div>
			    <div class="form_group">
			    	<%= f.label :profile_image %>
			    	<%= f.attachment_field :profile_image %>
			    </div>
			    <div class="form-group">
			    	<%= f.label :introduction %>
			    	<%= f.text_area :introduction, class:"col-xs-12" %>
			    </div>
			    <%= f.submit "Update User", class:"btn btn-default" %>
			<% end %>
		</div>
	</div>
</div>