<div class="container-fuluid">
	<div class="row">
		<div class="col-xs-3">
			<section class="">
				<h2>User info</h2>
				<table class="table">
					<thead>
						<tr class="">
							<td class="user-image"></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr class="">
							<td class="">name</td>
							<td class=""><%= current_user.name %></td>
						</tr>
						<tr class="">
							<td class="">introduction</td>
							<td class=""><%= current_user.introduction %></td>
						</tr>
					</tbody>
				</table>
			</section>
			<section class="">
				<h2>New book</h2>
				<%= form_for(@book) do |f| %>
				    <div class="form-group">
				    	<%= f.label :title, "Title" %>
				    	<p><%= f.text_field :title, class:"col-xs-12" %><p>
				    </div>
				    <br>
				    <div class="form-group">
				    	<%= f.label :body, "Opinion" %>
				    	<p><%= f.text_area :body, class:"col-xs-12" %></p>
				    </div>
				    <%= f.submit "Create book", class:"btn btn-primary btn-block" %>
				<% end %>
			</section>
		</div>
		<section class="col-xs-9">
			<h2>Books</h2>
			<table class="table">
				<thead>
				    <tr class="">
					    <th class="">image</th>
					    <th class="">name</th>
					    <th class=""></th>
				    </tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
				    	<tr class="">
					    	<td class=""><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %></td>
					    	<td class=""><%= user.name %></td>
					    	<td class=""><%= link_to "show", user_path(user) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</section>
	</div>
</div>