<div class="container-fuluid">
	<div class="row">
		<div class="col-xs-12">
			<%= render 'layouts/error_messages', model: @book %>
		</div>
		<%= render 'layouts/left_sidebar', user: current_user, book: @book %>
		<section class="col-xs-9">
			<h2>Books</h2>
			<table class="table">
				<thead>
				    <tr class="">
					    <th class="">image</th>
					    <th class="">name</th>
					    <th class=""></th>
				    </tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
				    	<tr class="">
					    	<td class=""><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %></td>
					    	<td class=""><%= user.name %></td>
					    	<td class=""><%= link_to "show", user_path(user) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</section>
	</div>
</div>