<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h1>Editing Book</h1>
			<%= form_for(@book) do |f| %>
			    <div class="form-group">
			    	<%= f.label :title, "Title", class:"col-xs-12" %>
			    	<p><%= f.text_field :title, class:"col-xs-12" %></p>
			    </div>
			    <br>
			    <div class="form-group">
			    	<%= f.label :body, "Opinion", class:"col-xs-12" %>
			    	<p><%= f.text_area :body, class:"col-xs-12" %></p>
			    </div>
			    <%= f.submit "Update Book", class:"btn btn-primary btn-block" %>
			<% end %>
			<%= link_to "show", book_path(@book) %> | <%= link_to "back", 'javasctipt:histroy.back()' %>
		</div>
	</div>
</div>