<div class="container-fuluid">
	<div class="row">
		<div class="col-xs-12">
			<%= render 'layouts/error_messages', model: @book %>
		</div>
		<div class="col-xs-3">
			<section class="">
				<h2>User info</h2>
				<table class="table">
					<thead>
						<tr class="">
							<td class="user-image">
								 <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %>
							</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr class="">
							<td class="">name</td>
							<td class=""><%= current_user.name %></td>
						</tr>
						<tr class="">
							<td class="">introduction</td>
							<td class=""><%= current_user.introduction %></td>
						</tr>
					</tbody>
				</table>
				<%= link_to edit_user_path(current_user.id), class:"btn btn-default btn-block" do %>
					    <i class="fas fa-wrench"></i>
					<% end %>
			</section>
			<section class="">
				<h2>New book</h2>
				<%= form_for(@book) do |f| %>
				    <div class="form-group">
				    	<%= f.label :title, "Title" %>
				    	<p><%= f.text_field :title, class:"col-xs-12" %><p>
				    </div>
				    <br>
				    <div class="form-group">
				    	<%= f.label :body, "Opinion" %>
				    	<p><%= f.text_area :body, class:"col-xs-12" %></p>
				    </div>
				    <%= f.submit "Create book", class:"btn btn-primary btn-block" %>
				<% end %>
			</section>
		</div>
		<section class="col-xs-9">
			<h2>Books</h2>
			<table class="table">
				<thead>
				    <tr class="">
					    <th class=""></th>
					    <th class="">Title</th>
					    <th class="">Opinion</th>
				    </tr>
				</thead>
				<tbody>
					<% @books.each do |book| %>
				    	<tr class="">
					    	<td class=""><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %></td>
					    	<td class=""><%= link_to "#{book.title}", book_path(book) %></td>
					    	<td class=""><%= book.body %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</section>
	</div>
</div>