<div class="container-fuluid">
	<div class="row">
		<div class="col-xs-12">
			<%= render 'layouts/error_messages', model: @book %>
		</div>
		<%= render 'layouts/left_sidebar', user: @detail_book.user, book: @book %>
		<section class="col-xs-9">
			<h2>Books</h2>
			<table class="table">
				<thead>
				    <tr class="">
					    <th class=""></th>
					    <th class="">Title</th>
					    <th class="">Opinion</th>
					    <th class="col-2">
				    </tr>
				</thead>
				<tbody>
				    	<tr class="">
					    	<td class=""> user.profile_image </td>
					    	<td class=""><%= @detail_book.title %></td>
					    	<td class=""><%= @detail_book.body %></td>
					    	<% if @detail_book.user == current_user %>
					    	    <td class=""><%= link_to "edit", edit_book_path(@detail_book), class:"btn btn-success" %></td>
					    	    <td class=""><%= link_to "destroy", book_path(@detail_book) , method: :delete, class:"btn btn-danger", "data-confirm"=>"本当に削除しますか？" %></td>
					    	<% end %>
						</tr>
				</tbody>
			</table>
		</section>
	</div>
</div>